@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Light_1_.woff");
}
@import "reset";
@import "mixins";
@import "variable";

.list {
  display: flex;
  justify-content: right;

  &__container {
    padding-top: 23px;
    width: 90%;
    margin: auto;
  }

  &__item {

    position: absolute;
  }

  &__item-section {
    @include menu;
    padding-top: 1px;
    background:$color-withe-grey;
    color: rgba(78, 78, 78, 1);


    margin-left: -118px;
    padding-left: 5px;
    display: block;
    width: 158px;
    height: 33px;
    nav{
      color:  rgba(87, 164, 164, 1);

    }
  }

  &__item-section:hover {
    background: rgba(229, 229, 229, 1);
  }

  &__item.is-active {
    display: none;
  }


  &__block-image {
    display: flex;
    justify-content: right;
    width: 44px;
    height: 37px;
    background: url("../img/menu-button (1).svg" );
    cursor: pointer;
  }

  &__block-image.is-active {
    background: url("../img/menu-button.svg");

  }
}

.block {
  padding-bottom: 42px;
  padding-top: 23px;

  &__elem {
    width: 100%;
    margin: auto;
  }
}

@media all and (min-width: 768px) {
  .list {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;

    &__container {
      width: 80%;
    }

    &__block-image {
      display: none;
    }

    &__item.is-active {
      display: flex;

    }

    &__item {
      position: relative;
      width: 80%;
      height: 55px;
      display: flex;

    }

    &__item-section {
      width: 110px;
      background: none;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: 0;
      height: 100%;
      padding-left: 0;
    }
    &__item-section:hover{
      background: none;
    }
  }
  .block {
    padding-bottom: 60px;
  }
}


////второй блок
.title {
  width: 90%;
  margin: auto;
  padding-bottom: 23px;
  @include title;
  color:$text-grey;
}

.main {
  width: 90%;
  margin: auto;

  &__text-box {
    padding-bottom: 32px;
  }
  &__comments{
    color: rgba(124, 124, 124, 1);

    @include comments;
  }
  &__info {
    @include main-info;
    color: $text-grey;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.active__block {
  display: none;
}

.active__text {
  padding-top: 13px;
  display: none;

}

@media all and (min-width: 768px) {
  .title {
    width: 80%;
    font-size: 16px;


  }

  .main {
    width: 80%;

    &__text-box {
      max-width: 555px;
      display: grid;
      grid-template-columns:160px  1fr;
      grid-template-areas:
    "images block";
    }

    &__img {
      grid-area: images;
    }
    &__comments{
      font-size: 12px;
    }
    &__info{
      font-size: 16px;
    }
    &__container {
      padding-left: 20px;
      grid-area: block;
    }

  }
  .active__text {
    @include active-text;
    display: inline-block;

  }
}

@media all and (min-width: 1200px) {
  .main {

    display: grid;
    grid-template-columns:1fr  1fr;
    gap: 0 20px;

  }
}

//// третий блок
.content {
  width: 90%;
  margin: auto;

  &__title-text {
    color: $text-grey;

    @include title;
    padding-top: 50px;
    padding-bottom: 13px;
  }
  &__item{
    padding-bottom: 40px;
  }
}
.active__title{
  display: none;
}
.active-high {
  display: none;
}
.active-medium {
  display: none;
}

@media all and (min-width: 768px) {
  .content {
    background: $color-withe-grey;
    width: 100%;

    &__title {
      display: flex;
      justify-content: space-between;
      width: 767px;
      margin: auto;
    }

    &__title-text {
      font-size: 16px;

      padding-top: 43px;
      padding-bottom: 35px;
    }

    &__item {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: auto;
      padding-bottom: 50px;
    }

    &__img {
      width: 249px;
      height: 249px;
    }
  }
  .active-medium {
    display: initial;
  }
  .active__title{
    display: initial;

  }

}

@media all and (min-width: 1200px) {
  .content {
    &__title {
      width: 1170px;
    }

    &__img {
      width: 285px;
      height: 285px;
    }
  }
  .active-high {
    display: initial;
  }
}

///// четвертый  блок

.footer {
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__title {
    @include title;
    color:rgba(254, 254, 254, 1);
    padding-top: 38px;
    padding-bottom: 10px;
  }
  &__text{
    color: $footer-text;
    @include footer-text;
    max-width: 684px;
  }

  &__icon {
    padding-top: 25px;
    padding-bottom: 25px;

  }
  &__info{
    color: $footer-text;

    @include footer-info;
    padding-bottom: 47px;
    width: 70%;
  }
}
.active__footer{
  font-size: 16px;
  line-height: 28px;
  display: none;
}
@media all and (min-width: 768px) {
  .active__footer{
    display: initial;
  }
  .footer{
    &__title{
      font-size: 16px;
    }
    &__text{
      font-size: 16px;
      line-height: 28px;
    }
    &__info{
      font-size: 16px;
      line-height: 26px;
    }
  }


}